body {
	margin: 0;
	padding: 0;
	background: #191919 url(images/img1.gif) repeat-x;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #129cff; /* Main body text color */
	/* color: #999999; */
}

a {
	/* border-bottom: 1px dotted #7D9412; */
	text-decoration: none;
	color: #F2900B;
}

a:hover {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Logo image */
#logo {
  	pointer-events: none;
	text-align: center;
}

/* Primary Alignment */
.App {
	text-align: center;
}

/* Welcome message formatting */
#welcome {
	font-size: 3em;
	color: #F2900B;
}

/* Welcome message username formatting (name of the currently logged in user)
Reverted, no longer in effect, but leaving it here in case
*/
#userNameWelcome {
	color: #F2900B;
	display: inline; /* Make it show on the same line as Welcome */
}

#sendMessageAboveTo {
	font-size: 1.5em;
	margin-bottom: 5px;
}

/* 'Your conversations' header */
#yourConversations {
	color: #F2900B;
	font-size: 2em;
}

/* Selected conversation header */
#selectedConversation {
	font-style: bold;
	color: #F2900B;
	font-size: 1.5em;
}


/* Styling for the navigation bar */
#NavbarPrimary {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	padding: 5px 5px;
	}

	#NavbarPrimary ul{
		margin-left: 30%;
		margin-right: 30%;
		padding: 10px;
		background-color: rgb(33, 33, 33);
		border-style: groove;
		border-radius: 25px;
		border-color: rgb(205, 72, 0);
		align-self: center;
	}

	#NavbarPrimary li{
		display: inline;
		padding: 8px;
		background-color: rgb(46, 46, 46);
		border-style: groove;
		border-radius: 20px 20px 20px;
		border-color: black;
		
	}










/* Header */

#header {
	width: 700px;
	height: 100px;
	margin: 0 auto;
	background: url(images/img2.gif);
}

#header * {
	margin: 0;
	padding: 0;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	color: #ff6613;
}

#header h1 {
	letter-spacing: -4px;
	font-size: 4em;
	
}

#header h2 {
	margin-top: -.5em;
	font-size: 1em;
}

/* Content */

#content {
	width: 700px;
	margin: 0 auto;
	padding: 20px 0 0 0;
}

/* Column One */

#colOne {
	float: left;
	width: 470px;
}

#colOne h2 {
	margin-top: 0;
	font-size: 2.2em;
	color: #CCCCCC;
}

#colOne p, #colOne ul, #colOne ol {
	line-height: 200%;
}

#colOne .credits {
	margin-bottom: 50px;
	padding: 5px 0 8px 8px;
	background: #000000;
	border-left: 2px solid #F2900B;
}

#colOne .credits p {
	margin: 0;
	padding: 0;
	line-height: normal;
}

/* Column Two */

#colTwo {
	float: right;
	width: 200px;
	background: #111111;
}

#colTwo ul {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
}

#colTwo li {
	margin-bottom: 20px;
	background: url(images/img3.gif) repeat-x;
}

#colTwo li li {
	margin-bottom: auto;
	background: none;
}

#colTwo li ul {
	padding-top: 0;
	padding-left: 20px;
	list-style: square inside;
}

#colTwo h2 {
	height: 25px;
	padding: 10px 0 0 10px;
	background: url(images/img4.gif) no-repeat right top;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .8em;
	color: #F2900B;
	}

#form1 {
	background: #191919;
}

#textfield1 {
	width: 100px;
	margin-left: 20px;
}

#submit1 {
}
