

.center-text {
    text-align: center;
}

.top-space {
    margin-top: 20px;
}

.right-padding {
    padding-right: 5px;
}

.to-padding {
    padding: 2px;
}

.curr-convo-title {
    font-size: medium;
    margin-top: -3px;
    margin-bottom: 25px;
}

.send-mess-title {
    font-weight: bold;
    font-size: medium;
    margin: 10px;
}

.message-textarea {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
}

.flex-container {
    margin-right: 88px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.curr-users-box {
    margin: 39px;
    align-self: baseline;
    width: 10%;;
}

.convo-box {
    padding: 23px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
}

.medium-font {
    font-size: medium;
}

.view-messages-box {
    min-height: 366px;
    min-width: 226px;
    border: 1px solid black;
    border-radius: 10px;
    order: -1;
    width: 30%;
    align-self: baseline;
    text-align: center;
}

.message-box {
    padding: 34px;
    border: 4px solid black;
    border-radius: 30px;
    width: fit-content;
    margin-top: 40px;
}

.view-mssg-title {
    padding: 10px;
    font-weight: bold;
}

/* text for messages */
.mssg-text {
    text-align: left;
    padding-left: 24px;
}
.box {
    background-color: skyblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 16px;
    color: white;
    line-height: 1.4;
  }
  
  .box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .box .title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .box .content {
    /* Additional styling for the content inside the box */
  }

  .button1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button1:hover {
    background-color: #45a049;
  }
  
  .button1:active {
    background-color: #3e8e41;
  }
  